{% extends "layout.html" %}
{% block content %}
    <h1 class="text-center">Library</h1>
    <hr />
    {% for game in games %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ game.title }}</h5>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="#" role="button" class="btn btn-primary">Lore</a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}